:root {
    --main: lime;
    --second: #02c702;
    --shadow: lightgray;
    --background: white;
    --bg1: #ddd;
    --red1: red;
    --red2: #960000;
    --text: snow;
    --text1: black;
}
html {
    font-size: 20px;
    background: url(admin-image/admin-back.png);
    box-sizing: border-box;
    font-family: monospace;
}
body {
    margin: 0;
}
/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--second);
}

::-webkit-scrollbar-thumb {
    background: var(--main);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: color-mix(in srgb, var(--main), #eee);
}
/*LOGIN*/
.login {
    width: 20rem;
    height: 22rem;
    background-color: var(--background);
    border: 5px solid var(--main);
    border-radius: 20px;
    text-align: center;
    display: block;
    margin: 3rem auto 0 auto;
    box-shadow: 0 10px 0 var(--second);
}
.login div {
    width: fit-content;
    margin: auto;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 1.5rem;
    color: var(--main);
    margin: 1rem 0 0 1rem;
} 
.login h3 {
    margin: 2rem auto 1rem auto;
    font-size: 1.75rem;
    color: var(--main);
}
.login label {
    color: var(--main);
    font-size: 1.25rem;
    float: left;
    margin-top: 1.5rem;
    padding-left: 1.5rem;
}
.big {
    float: left;
    margin: 1rem 0 0 0.5rem;
    width: 99%;
}
#showpasswd {
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--main);
}
.nomargin {
    margin: 0 0 0 25px !important;
    padding: 0 !important;
}
.login input[type="text"], .login input[type="password"] {
    border: 3px solid var(--main);
    border-radius: 5px;
    font-size: 1.25rem;
    color: var(--main);
    width: 85%;
    background: var(--background);
}
.login input[type="checkbox"] {
    background: var(--background);
}
.login button {
    font-size: 1.25rem;
    color: var(--text);
    background: var(--main);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    width: calc(85% + 10px);
    margin-top: 1rem;
    box-shadow: 0 7px 0 var(--second);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.login button:active {
    transform: translateY(7px);
    box-shadow: 0 0px 0 var(--second);
}
/*DARK MODE*/
.dark-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    background: var(--background);
    cursor: pointer;
}
.dark-btn img {
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;
}
#dark-on {
    visibility: hidden;
}
/*ADMIN DASHBOARD*/
.dashboard {
    width: 70%;
    height: 85vh;
    background-color: var(--main);
    border: 5px solid var(--main);
    border-radius: 20px;
    text-align: center;
    margin: 3rem auto 0 auto;
    box-shadow: 0 10px 0 var(--second);
}
header {
    font-size: 3rem;
    color: var(--main);
    background: var(--background);
    border-radius: 20px;
}
/*MAIN*/
section {
    width: calc(100% - 10px);
    height: calc(100% - 9rem);
    background-color: var(--background);
    border: 5px solid var(--main);
    border-radius: 20px;
    text-align: center;
    margin-top: 2rem;
    overflow-y: scroll;
}
/*TOP*/
.side {
    float: left;
    margin: 5px;
    width: calc(50% - 10px);
    height: 20rem;
    margin-bottom: 2rem;
    text-align: left;
}
textarea {
    font-size: 0.5rem;
    color: snow;
    background: black;
    border: none;
    margin: 0;
    width: calc(100% - 2px);
    height: 18rem;
    resize: none;
}
/*TABLE*/
table {
    width: calc(100% - 21px);
    margin: 10px;
    background: var(--second);
    border-spacing: 0;
    border: 0.3rem solid var(--second);
    border-radius: 0.5rem;
    color: var(--text1);
}
thead {
    background: var(--second);
}
tbody {
    background: var(--background);
}
tbody tr:nth-child(even) {
    background: var(--bg1)
}
table img {
    width: 1.5rem;
    height: auto;
}
.refresh {
    animation: 1s rotate;
}
.refresh:active {
    animation: none;
}
@keyframes rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: -360deg;
    }
}
th:first-child, td:first-child{
    text-align: left;
    white-space: nowrap;
}
.icon-cell {
    text-align: right;
    white-space: nowrap;
    width: calc(1.5rem + 10px);
}
.icon-cell img {
    margin: 5px;
}
.invert .icon {
    filter: invert(1);
}
.fill-bg {
    background: var(--second);
}
/*DIALOG*/
dialog {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: #333333a1;
    border: 3px solid #00000000 !important;
}
dialog .dialog {
    border: 3px solid var(--second);
    border-radius: 20px;
    background: var(--background);
    width: 30rem;
    height: fit-content;
    margin: 20% auto 0 auto;
}
dialog h3 {
    float: left;
}
#inputContainer, #addContainer {
    text-align: right;
    margin-right: 4rem;
    margin-top: 2rem;
}
dialog label, dialog input[type="text"], dialog input[type="number"],
dialog input[type="email"], dialog input[type="checkbox"] {
    font-size: 1rem;
    margin: 5px;
    color: var(--text1);
    background: var(--background);
}
dialog input[type="text"], dialog input[type="number"],
dialog input[type="email"], dialog input[type="checkbox"] {
    border: 2px solid var(--main);
    border-radius: 5px;
}
dialog input[type="checkbox"] {
    margin-right: 12.7rem !important;
}
dialog input[type="text"]:disabled, dialog input[type="number"]:disabled,
dialog input[type="email"]:disabled, dialog input[type="checkbox"]:disabled {
    background: var(--shadow);
}
dialog img {
    float: right;
    margin: 1rem;
    width: 1.5rem;
    height: auto;
}
.savebtn {
    background-color: var(--main);
    color: var(--text);
    font-family: monospace;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    float: right;
    margin: 1rem;
    padding: 5px 1rem 5px 1rem;
    box-shadow: 0 7px 0 var(--second);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.savebtn:active {
    transform: translateY(7px);
    box-shadow: 0 0px 0;
}
.savebtn.red {
    background: var(--red1);
    box-shadow: 0 7px 0 var(--red2);
}
.savebtn.red:active {
    transform: translateY(7px);
    box-shadow: 0 0px 0 var(--red2);
}
div.upload {
    width: 24rem;
    height: 7rem;
    margin: 3rem 3rem 0 3rem;
    background: var(--back2);
    border: 3px dashed #4d4d4d;
}
.upload p {
    text-align: center;
    transform: translateY(-1rem);
}
img.upload {
    width: 2rem;
    height: 2rem;
    margin: 2rem calc(50% - 1rem);
}
/*USER LOGIN PANEL*/
.log-panel {
    width: 100%;
    height: 3rem;
    text-align: left;
}
.profile-pic {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
}
.profile-name {
    font-size: 1.5rem;
    display: inline-block;
    color: #eee;
    padding: 1rem;
    margin: 0;
    transform: translateY(-0.7rem);
}
/*FOOTER*/
.sign {
    color: #00cc00;
    font-size: 15px;
    font-family: monospace;
    padding: 10px;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
/*RESPONSING*/
@media (max-width:1400px) {
    html {font-size: 18px;}
}
@media (max-width:1025px) {
    html {font-size: 16px;}
    .side {min-width: calc(100% - 10px);}
}
@media (max-width:801px) {
    html {font-size: 14px;} 
}
@media (max-width:600px) {
    html {font-size: 13px;}
    .dashboard {width: calc(100% - 10px); height: calc(100vh - 10px);margin: 0;}
}
@media (max-width:480px) {
    html {font-size: 12px;}
}
@media (max-width:320px) {
    html {font-size: 10px;}
}
